@model oh7.CspEditor.Models.CspDirectiveItemViewModel

@{
    var createPage = $"/Item/Create{Model.Type.Name}";
    var editPage = $"/Item/Edit{Model.Type.Name}";
}
<div class="list-group">
    @foreach (var item in Model.Items)
    {
        <div class="list-group-item">
            <p class="mb-1 editable">@item.Content</p>
            <p class="mb-1 editable">@item.Description</p>
            <small>
                <a asp-page="@editPage" asp-route-id="@item.Id" asp-route-projectId="@Model.ProjectId">Edit</a>
                <a asp-page="/Item/Delete" asp-route-id="@item.Id" asp-route-projectId="@Model.ProjectId">Delete</a>
            </small>
        </div>
    }
    <div class="list-group-item">
        <small><a asp-page="@createPage" asp-route-projectId="@Model.ProjectId" asp-route-directiveId="@Model.DirectiveId" asp-route-typeId="@Model.Type.Id">Add</a></small>
    </div>
</div>