@model oh7.CspEditor.Models.CspDirective

<div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="Enabled" aria-describedby="enabledHelp" directiveId="@Model.Id" onchange="updateItem(this);">
    <label class="form-check-label" asp-for="Enabled">Enabled</label>
    <small id="enabledHelp" class="form-text text-muted">Check this to include in build. If this is unchecked this directive will be empty omitted in the build.</small>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="None" aria-describedby="noneHelp" directiveId="@Model.Id" onchange="updateItem(this);">
    <label class="form-check-label" asp-for="None">None</label>
    <small id="noneHelp" class="form-text text-muted">Refers to the empty set; that is, no URLs match.</small>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="Self" aria-describedby="selfHelp" directiveId="@Model.Id" onchange="updateItem(this);">
    <label class="form-check-label" asp-for="Self">Self</label>
    <small id="selfHelp" class="form-text text-muted">Refers to the origin from which the protected document is being served, including the same URL scheme and port number.</small>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="UnsafeInline" aria-describedby="unsafeInlineHelp" directiveId="@Model.Id" onchange="updateItem(this);">
    <label class="form-check-label" asp-for="UnsafeInline">Unsafe inline</label>
    <small id="unsafeInlineHelp" class="form-text text-muted">
        Allows the use of inline resources, such as inline &lt;script&gt; elements, javascript: URLs, inline event handlers, and inline &lt;style&gt; elements.
    </small>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="UnsafeEval" aria-describedby="unsafeEvalHelp" directiveId="@Model.Id" onchange="updateItem(this);">
    <label class="form-check-label" asp-for="UnsafeEval">Unsafe eval</label>
    <small id="unsafeEvalHelp" class="form-text text-muted">Allows the use of eval() and similar methods for creating code from strings.</small>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" asp-for="StrictDynamic" aria-describedby="strictDynamicHelp" directiveId="@Model.Id" onchange="updateItem(this);">
    <label class="form-check-label" asp-for="StrictDynamic">Strict dynamic</label>
    <small id="strictDynamicHelp" class="form-text text-muted">The strict-dynamic source expression specifies that the trust explicitly given to a script present in the markup, by accompanying it with a nonce or a hash, shall be propagated to all the scripts loaded by that root script. At the same time, any allow-list or source expressions such as 'self' or 'unsafe-inline' are ignored.</small>
</div>