@page
@model oh7.CspEditor.WebApp.Pages.Project.IndexModel

@{
    ViewData["Title"] = "My CSP Projects";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CspProject[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CspProject[0].Description)
            </th>
            <th>CSP</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CspProject)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="/Directive/Index" asp-route-projectId="@item.Id">Directives</a> |
                    <a asp-page="./Build" asp-route-projectId="@item.Id">Build</a> |
                    <a asp-page="./Import" asp-route-projectId="@item.Id">Import</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
